.navbar-inner {
  display: flex;
  justify-content: space-around;
  flex-basis: auto;
  gap: 50px;
  text-decoration: none;
  @media screen and (max-width: 399px) {
    gap: 15px;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 300px) {
    gap: 15px;
    font-size: 1rem;
  }
}
